body {
    user-select: none;
    color: #ffffff;
    background-color: #111111;
    font-family: 'Consolas';
    text-align: center;
}

a {
    text-shadow: none;
    text-decoration: none;
    color: #0047AB;
}
a:hover {
    text-decoration: underline; /* Hiện gạch chân khi hover */
    color: #1F75FE; /* Đổi màu khi hover */
}

.text-logo {
    color: #00FF41;
    font-size: 40px;
}
.text-des {
    color: lightgray;
}